<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Online meeting account registration</title>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <style>
        .registration-form {
            width: 300px;
            margin: 0 auto;
            font-family: Tahoma, Geneva, sans-serif;
        }

        .alert-success {
            color: #034e00;
        }

        .alert-failure {
            color: #ca0000;
        }

        .registration-form h1 {
            text-align: center;
            color: #4d4d4d;
            font-size: 24px;
            padding: 20px 0 20px 0;
        }

        .registration-form input[type="submit"] {
            width: 100%;
            padding: 15px;
            background-color: #254d31;
            border: 0;
            box-sizing: border-box;
            cursor: pointer;
            font-weight: bold;
            color: #ffffff;
        }

        #user {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #user td,
        #user th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #user tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #user tr:hover {
            background-color: #ddd;
        }

        #user th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: rgb(12, 114, 51);
            color: white;
        }
    </style>
</head>

<body>


    <div class="registration-form">
        <h1>Online meeting account</h1>

    </div>


    <div>
        <% if (locals.success) { %>

        <div style="text-align: right;">Welcome <%=success.firstName %></div>

        <div style="text-align: right;">
            <form action="logout" method="POST">
                <input type="hidden" id="email" name="email" value=<%= success.email %>>
                <input type="submit" value="logout">
            </form>
        </div>

        <!-- <div class="alert-success"><%= success %></div> -->

        <p>
            Following users are online
        </p>

        <table id="user">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Status</th>
                <th>Online since</th>
            </tr>

            <% for (var i = 0; i < success.userList.length; i++) { %>
            <tr>
                <td><%= success.userList[i].first_name %></td>
                <td><%= success.userList[i].email %></td>
                <td><%= success.userList[i].status %></td>
                <td><%= success.userList[i].login_time %></td>
            </tr>
            <% } %>
        </table>

        <!-- <form action="redirect/login" method="GET">
                <input type="submit" value="Login">
            </form> -->

        <% } %>
    </div>
    </div>
</body>

</html>